@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1;
  font-family: Montserrat;
  background: #f5f5f5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

img {
  display: block;
  max-width: 100%;
  box-sizing: border-box; }

/*@font-face {
    font-family: 'Roboto';
    src: url('/fonts/RobotoCondensed-Bold.eot');
    src: local('/fonts/RobotoCondensed Bold'), local('/fonts/RobotoCondensed-Bold'),
        url('/fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*/
/*--------------------------Начало меню----------------------*/
.header_wrap {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center; }

.menu-list {
  position: relative;
  display: flex;
  justify-content: right;
  font-weight: 600;
  font-size: 18px;
  padding: 0.8rem 1.6rem;
  margin: 0 1.6rem;
  transition: all .3s; }
  .menu-list li a {
    padding: 5px 10px;
    color: #303b44; }
    .menu-list li a:hover {
      background: #eaeaea;
      border-radius: 0.8rem; }
  .menu-list .curce_ul {
    display: none;
    position: absolute;
    left: 10px;
    top: 45px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    z-index: 100; }
    .menu-list .curce_ul li {
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #303b44;
      padding-top: 15px;
      text-decoration: none;
      margin: 0 1.6rem;
      transition: all .3s; }

.arrow_down:after {
  content: "";
  display: inline-block;
  background: url(/images/icon-dropdown.svg) center center no-repeat;
  vertical-align: -0.1rem;
  width: 1rem;
  height: 1.2rem;
  margin-left: 0.6rem;
  transition: all .3s; }

/*---------------------Конец Меню---------------------------*/
/*---------------------Главный баннер (Мы вас научим)---------------------------*/
.we_teach_wrap {
  background: url(/images/top-bg.jpg) center center no-repeat;
  padding: 170px 80px;
  margin-top: 60px;
  margin-bottom: 60px; }

.we_teach_header {
  max-width: 540px;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  margin-bottom: 1.6rem;
  color: #fff; }

.we_teach_descript {
  max-width: 550px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 3.2rem;
  color: #fff; }

.we_teach_button {
  width: 292px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A76FF;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer; }

.main_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
  margin-bottom: 30px;
  color: #303B44; }

.main_descript {
  color: #303B44;
  font-size: 16px; }

/*---------------------------------Конец главного баннера-------------------------------------------*/
/*--------------------------------Начало профессий----------------------------------------------*/
.proff_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px; }

.proff_author_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 15px; }

.price_cost {
  background-color: #F1F1F1; }

.proff_flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; }

.knew_more {
  color: #1a76ff;
  font-weight: 600;
  align-items: center;
  display: flex; }
  .knew_more:after {
    content: "";
    display: block;
    background: url(/images/courses-icon-link.svg) center center no-repeat;
    width: 35px;
    height: 35px;
    margin-left: 15px; }

.proff_cell {
  background-color: #fff;
  border-radius: 8px; }
  .proff_cell img {
    border-radius: 8px 8px 0 0; }

.proff_cell_down {
  padding: 5px; }

.proff_cost {
  font-weight: 600;
  font-size: 46px; }

.grey_wrap {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px; }

.line-throw {
  text-decoration: line-through; }

.blue_discount {
  position: absolute;
  background: #178FFF;
  right: 48px;
  top: -12px;
  border-radius: 3px;
  padding: 5px;
  color: #fff; }

.lessons_icon:before {
  content: "";
  display: inline-block;
  background: url(/images/courses-icon-lessons.svg) center center no-repeat;
  width: 18px;
  height: 16px; }

.lessons_hours:before {
  content: "";
  display: inline-block;
  background: url(/images/courses-icon-lessons.svg) center center no-repeat;
  width: 18px;
  height: 16px; }

/*--------------------------------Конец профессий----------------------------------------------*/
/*--------------------------------Курсы----------------------------------------------*/
.cource_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 60px;
  margin-bottom: 60px; }

.minicource-wrap {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px; }
  .minicource-wrap div a img {
    border-radius: 8px; }

/*---------------------------------База знаний-------------------------------------------*/
.knolage_baza {
  background: url(/images/base-bg.jpg) center center no-repeat;
  border-radius: 20px;
  padding: 30px 30px; }

.knolage_baza_up {
  text-align: center;
  color: #fff;
  max-width: 830px;
  margin: 30px auto; }
  .knolage_baza_up img {
    margin: 0 auto; }

.knolage_lessons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; }

.knolage_cell {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px; }
  .knolage_cell div:nth-child(1) {
    font-weight: 600; }
  .knolage_cell div:nth-child(2) {
    margin-top: 15px; }

.knowlage_lesson {
  color: #1a76ff; }
  .knowlage_lesson:before {
    content: "";
    display: inline-block;
    background: url(/images/courses-icon-lessons.svg) center center no-repeat;
    width: 18px;
    height: 16px;
    margin-right: 10px; }

.knowlage_view {
  margin: 60px auto;
  text-align: center; }
  .knowlage_view a {
    background: rgba(255, 255, 255, 0.2) url(../img/base-more-icon.svg) right 2.4rem center no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 3px; }

/*--------------------------Преподаватели-----------------------------------*/
.experts_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px; }

.experts_cell {
  margin-top: 30px; }

.experts_author {
  text-align: center; }

.experts_category {
  display: inline-block;
  color: #fff;
  background: #1a76ff;
  padding: 10px;
  margin: 5px auto;
  text-align: center; }

.experts_descript {
  padding: 129px 15px 30px;
  background-color: #fff;
  border-radius: 25px;
  margin-top: -108px;
  font-size: 14px; }

.experts_main_wrap {
  margin-top: 60px;
  margin-bottom: 60px; }

.experts_img img {
  margin: 0 auto; }

/*---------------------------------Быстрый старт в профессии---------------------------------------*/
.fast_start_wrap {
  margin: 60px auto; }

.fast_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; }

.fast_wrap_header {
  font-weight: 700;
  margin-top: 15px;
  font-size: 18px; }

.fast_wrap_description {
  margin-top: 15px;
  font-size: 16px; }

.work_offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 30px; }

/*------------------Страница отзывов--------------------*/
.review_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px; }

.rewiew_item {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px; }

.have_q_wrap {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px; }

.have_q_header {
  font-weight: 600;
  font-size: 36px; }
  .have_q_header span {
    color: #1A76FF; }

.have_q_desk {
  margin-top: 30px; }

.have_q_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .have_q_grid input[type=text] {
    border: none;
    border-bottom: 1px solid #303B44; }
  .have_q_grid input[type=submit] {
    background-color: #1A76FF;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    height: 50px;
    width: 100%; }
